
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<style type="text/css">
    .ui-datepicker {
        background: #333;
        border: 1px solid #555;
        color: #EEE;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Request Reimbursement by HRD</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Available Proccess Request</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="container">
                            <div class="col-md-4">
                                <div class="input-group input-daterange" data-target-input="nearest">
                                    <input type="text" id="min-date"class="form-control datetimepicker-input" data-date-format="yyyy-mm-dd" data-target="#mindate" placeholder="From:" />

                                    <div class="input-group-append" id="mindate" data-target="#min-date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <div class="input-group input-daterange">

                                    <div class="input-group-addon">to</div>

                                    <input type="text" id="max-date" class="form-control datetimepicker-input" data-date-format="yyyy-mm-dd" placeholder="To:">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered table-striped">
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Approved History</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataApprovedTable" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Rejected History</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataRejectedTable" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input name="Id" class="form-control" type="hidden" id="Id" />
                    </div>
                    <div class="form-group">
                        <input name="EmployeeId" class="form-control" type="hidden" id="EmployeeId" />
                    </div>
                    <div class="form-group">
                        <label>Reject Reason</label>
                        <input name="Reason" class="form-control" type="text"
                               placeholder="Gambar Buram..." id="Reason" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="Update" onclick="return Reject()" data-dismiss="modal" class="btn btn-danger button button4">Reject</button>
                <button type="button" data-dismiss="modal" class="btn btn-warning button button4">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scriptAdminLTE{
    <script src="~/DataTables/js/dataTables.buttons.min.js"></script>
    <script src="~/DataTables/js/buttons.flash.min.js"></script>
    <script src="~/DataTables/js/jszip.min.js"></script>
    <script src="~/DataTables/js/pdfmake.min.js"></script>
    <script src="~/DataTables/js/vfs_fonts.js"></script>
    <script src="~/DataTables/js/buttons.html5.min.js"></script>
    <script src="~/DataTables/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js" integrity="sha512-y3o0Z5TJF1UsKjs/jS2CDkeHN538bWsftxO9nctODL5W40nyXIbs0Pgyu7//icrQY9m6475gLaVr39i/uh/nLA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.js" integrity="sha512-18QiVdJv36r1ryb5mr1lFpm4wZMORhvGgvz0mHQllOmx3NmSZkYwWuDcecFByaRVWqiQ0F/FZC5pCBMuy8IfkQ==" crossorigin="anonymous"></script>
    <script src="~/Scripts/HRDApprovalScript.js"></script>
    <!-- DataTables -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
}


