
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex flex-row align-content-between justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">Approval Manager</h5>
            @*<div data-toggle="modal" data-target="#exampleModalCenter">
                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" data-animation="false" title="Add Division">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>*@
        </div>
    </div>

    <!--Modal Approval-->
    <div class="modal fade" id="exampleModalCenterEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Form Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-approval" role="form">
                        <input name="id" type="hidden" />
                        <div class="form-group">
                            <label>Division Name : </label>
                            <select class="form-control select2" style="width: 100%;" id="divName2" name="divisionName" required>
                                <option value="0" selected> -- Choose Department -- </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-edit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal Edit-->

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        <a asp-action="ReportDivision" class="btn btn-outline-danger" data-toggle="tooltip" title="Export Pdf"><i class="fa fa-file-pdf"></i></a>
        <a asp-action="ReportExcel" class="btn btn-outline-success" data-toggle="tooltip" title="Export Excel"><i class="fa fa-file-excel"></i></a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="MydataTable" width="100%" cellspacing="0"></table>
        </div>
    </div>

</div>
@section scriptAdminLTE{
    <script src="~/DataTables/js/dataTables.buttons.min.js"></script>
    <script src="~/DataTables/js/buttons.flash.min.js"></script>
    <script src="~/DataTables/js/jszip.min.js"></script>
    <script src="~/DataTables/js/pdfmake.min.js"></script>
    <script src="~/DataTables/js/vfs_fonts.js"></script>
    <script src="~/DataTables/js/buttons.html5.min.js"></script>
    <script src="~/DataTables/js/buttons.print.min.js"></script>
    <script src="~/js/Manager.js"></script>
}


