
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Layout/_Login.cshtml";
}

<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-form validate-form">
            <span class="login100-form-title p-b-43">
                <img src="~/assets/dist/img/rp-logo.png" />
            </span>


            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" id="email" name="email">
                <span class="focus-input100"></span>
                <span class="label-input100">Email</span>
            </div>


            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" type="password" id="password" name="pass">
                <span class="focus-input100"></span>
                <span class="label-input100">Password</span>
            </div>

            <div class="flex-sb-m w-full p-t-3 p-b-32">
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="showPassword" onclick="myFunction()">
                    <label class="label-checkbox100" for="ckb1">
                        Show Password
                    </label>
                </div>

            </div>


            <div class="container-login100-form-btn">
                <button type="button" class="login100-form-btn" onclick="return myLogin()">
                    Login
                </button>
            </div>
        </div>

        <div class="login100-more" style="background-image: url(images/background.png)">
        </div>
    </div>
</div>

@section scriptLogin{
    <script src="~/js/Login.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
}

